.controls {
  height: 100vh;
  background-color: $gray-300;
}
#delete-btn {
  &:hover {
    color: red;
  }
}

#subject-label {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
#chart {
  margin-top: -1rem;
}
