.controls {
  height: 100vh;
  background-color: $gray-300;
}
#delete-btn {
  &:hover {
    color: red;
  }
}

#subject-label {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

#pre-chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#gpa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
